body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
button{
    padding: 12px 24px;
    font-size: 18px ;
    border: none;
    border-radius: 8px;
    background: #4CAF50;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease,background-color 0.3s ease;
}
button:hover{
    transform: scale(1.1);
    background-color: #45a049;
}
.fade-box{
    width: 150px;
    height: 150px;
    background: coral;
    margin: 20px auto;
    animation: fadeSlide 3s infinite alternate;
}
@keyframes fadeSlide{
    0% {opacity: 0.2;transform: translateY(o);}
    100%{opacity: 1;transform: translateY(-30px);}
}
#dynamicBox{
    width: 150px;
    height: 150px;
    background: steelblue;
    margin: 20px auto;
    transition: background-color 0.5s ease,transform 0.5s ease;
}